<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet"> 

</head>
<body>
    <div id="root" :class="white_mode == true ? 'white-mode' : 'dark-mode'">
        <div class="app">
            <!-- colonna sinistra -->
            <div class="row-left">
                <!-- utente -->
                <div class="user" @mouseleave="settings = false">
                    <div class="user-info">
                        <img src="img/avatar_io.jpg" alt="foto utente">
                        <span class="username">Nome Utente</span>
                    </div>
                    <div class="settings">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v" @click="settings = !settings"></i>
                    </div>
                    <ul class="modalita" :class="{visible : settings}" @mouseleave="settings = false">
                        <li @click="white_mode = true">White Mode</li>
                        <li @click="white_mode = false">Dark mode</li>
                    </ul>
                </div>
                <!-- notifiche -->
                <div class="notifications">
                    <div class="icona-bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div>
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <span>Attiva notifiche desktop</span>
                    </div>
                </div>

                <!-- cerca contatti -->
                <div class="cerca">
                    <div class="searchbar">
                        <div class="lente">
                            <i class="fas fa-search"></i>
                        </div>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="ricerca">
                    </div>
                </div>

                <!-- contatti -->
                <div class="contatti-body">
                    <div v-if="utente.visible == true" v-for="(utente,pos) in contacts" class="contatto" :class="{selected: utente.selezionato}" @click="selezione(pos); id=pos">
                        <div class="contatto-pic">
                            <img :src="'img/avatar' + utente.avatar + '.jpg'" alt="foto utente">
                        </div>
                        <div class="contatto-dati">
                            <div class="contatto-nome">
                                <span>{{utente.name}}</span>
                            </div>
                            <div class="contatto-testo">
                                <span>{{utente.messages[utente.messages.length - 1].message}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- colonna destra -->
            <div class="row-right">
                <!-- chat utente top -->
                <div class="user">
                    <div v-if="id >= 0" class="user-info">
                        <img :src="'img/avatar' + contacts[id].avatar + '.jpg'" alt="foto utente">
                        <div class="dati">
                            <span class="chat-username">{{contacts[id].name}}</span>
                            <span class="accesso">Ultimo accesso oggi alle {{getDate('ore')}}</span>
                        </div>
                    </div>
                    <div v-if="id >= 0" class="settings">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                                <!-- corpo della chat -->
                <div v-if="id >= 0" class="chat-body">
                    <div v-for="(mes,index) in contacts[id].messages" class="divisore">
                        <div class="messaggio" :class="[mes.status]" @mouseleave="mes.elimina = false">
                            <span class="testo" @mouseover="mes.elimina = false">{{mes.message}}</span>
                            <span class="data">{{mes.date}}</span>
                            <div class="tendina-del">
                                <i class="fas fa-chevron-down" :class="mes.elimina == false ? 'visible' : ''" @click="mes.elimina = true"></i>
                                <i class="fas fa-chevron-up" :class="mes.elimina == true ? 'visible' : ''" @click="mes.elimina = false"></i>
                            </div>
                            <ul class="elimina" :class="{visible : mes.elimina}">
                                <li @click="eliminaMessaggio(index)">Elimina Messaggio</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div v-else class="no-chat">
                    <span>Benvenuto</span>
                    <span>Seleziona una chat</span>
                </div>

                <!-- chat utente bottom -->
                <div v-if="id >= 0" class="text">
                    <div class="emoji">
                        <i class="far fa-smile"></i>
                    </div>
                    <div class="textarea">
                        <input type="text" placeholder="Scrivi un messaggio" v-model="testo_messaggio" @keyup.enter="rispondi(testo_messaggio), inviaMessaggio()">
                    </div>
                    <div class="audio-send">
                        <i v-if="testo_messaggio == '' " class="fas fa-microphone"></i>
                        <i v-else class="fas fa-paper-plane" @click="rispondi(testo_messaggio), inviaMessaggio()"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
    <script src="https://kit.fontawesome.com/35fd86ea03.js" crossorigin="anonymous"></script>
</body>
</html>